language: php

sudo: false

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

matrix:
  fast_finish: true
  allow_failures:
    - php: hhvm

install:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source --dev

script:
  - vendor/bin/phpcs --standard=PSR2 src
  - vendor/bin/phpmd src text phpmd.xml.dist
  - vendor/bin/phpcpd src
  - if [ "$TRAVIS_PHP_VERSION" != '5.6' ]; then vendor/bin/phpunit --configuration phpunit.xml.dist ; fi
  - if [ "$TRAVIS_PHP_VERSION" == '5.6' ]; then vendor/bin/phpunit --configuration phpunit.xml.dist --coverage-clover coverage.xml ; fi

after_script:
  - if [ "$TRAVIS_PHP_VERSION" == '5.6' ]; then wget https://scrutinizer-ci.com/ocular.phar ; fi
  - if [ "$TRAVIS_PHP_VERSION" == '5.6' ]; then php ocular.phar code-coverage:upload --format=php-clover coverage.xml
