<?xml version="1.0"?>
<phpunit
        bootstrap="./tests/Bootstrap.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnSkipped="false"
        stopOnIncomplete="false"
        syntaxCheck="false"
        strict="true"
        verbose="true"
        >
    <testsuites>
        <testsuite name="JgutZfMaintenance tests">
            <directory suffix="Test.php">./tests/JgutZfMaintenanceTest</directory>
        </testsuite>
    </testsuites>

    <!-- Code Coverage reports filter -->
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix="Interface.php">./src</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <ini name="memory_limit" value="-1"/>
    </php>
</phpunit>
