<?php
/**
 * Juliangut Zend Framework Maintenance Module Module (https://github.com/juliangut/zf-maintenance)
 *
 * @link https://github.com/juliangut/zf-maintenance for the canonical source repository
 * @license https://github.com/juliangut/zf-maintenance/blob/master/LICENSE
 */

return array(
    'zf-maintenance' => array(
        // Strategy service to be used on maintenance
        'maintenance_strategy' => 'Jgut\Zf\Maintenance\View\MaintenanceStrategy',

        // Template for the maintenance strategy
        'template' => 'zf-maintenance/maintenance',

        // Maintenance providers
        'providers' => array(
            'Jgut\Zf\Maintenance\Provider\ConfigProvider' => array(
                'active' => false,
            ),
            'Jgut\Zf\Maintenance\Provider\FileProvider' => array(
                'file' => __DIR__ . '/maintenance',
            ),
        ),

        // Exceptions to maintenance mode
        'exclusions' => array(
            'Jgut\Zf\Maintenance\Exclusion\IpExclusion'    => array(
                '127.0.0.1',
            ),
            'Jgut\Zf\Maintenance\Exclusion\RouteExclusion' => array(
                'home',
            ),
        ),
    ),
);
