<?php
/**
 * JgutZfMaintenance Module (https://github.com/juliangut/zf-maintenance)
 *
 * @link https://github.com/juliangut/zf-maintenance for the canonical source repository
 * @license https://raw.githubusercontent.com/juliangut/zf-maintenance/master/LICENSE
 */

return array(
    'zf-maintenance' => array(
        // Strategy service to be used on maintenance
        'maintenance_strategy' => 'JgutZfMaintenance\View\MaintenanceStrategy',

        // Template for the maintenance strategy
        'template' => 'zf-maintenance/maintenance',

        // Maintenance providers
        'providers' => array(
            'JgutZfMaintenance\Provider\ConfigProvider' => array(
                'active' => false,
            ),
        ),

        // Exceptions to maintenance mode
        'exclusions' => array(
            'JgutZfMaintenance\Exclusion\IpExclusion'    => array(
                '127.0.0.1',
            ),
            'JgutZfMaintenance\Exclusion\RouteExclusion' => array(
                'home',
            ),
        ),
    ),
);
