<?php
/**
 * Juliangut Zend Framework Maintenance Module Module (https://github.com/juliangut/zf-maintenance)
 *
 * @link https://github.com/juliangut/zf-maintenance for the canonical source repository
 * @license https://github.com/juliangut/zf-maintenance/blob/master/LICENSE
 */

return array(
    'zf-maintenance' => array(
        // Strategy service to be used on maintenance
        'strategy' => 'ZfMaintenanceStrategy',

        // Template for the maintenance strategy
        'template' => 'zf-maintenance/maintenance',

        // Maintenance blocks access to application
        'block' => true,

        // Maintenance providers
        'providers' => array(
            'ZfMaintenanceConfigProvider' => array(
                'active' => false,
            ),
            'ZfMaintenanceFileProvider' => array(
                'file'    => __DIR__ . '/maintenance_file',
                'message' => 'We are currently running maintenance proccesses',
            ),
        ),

        // Exceptions to maintenance mode
        'exclusions' => array(
            'ZfMaintenanceIpExclusion' => array(
                '127.0.0.1',
            ),
            'ZfMaintenanceRouteExclusion' => array(
                'home',
            ),
        ),
    ),
);
